a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .card .book_picture img {
    width: 464px;
  }
  .container {
      max-width: 1030px;
  }
  .navbar .navbar-brand {
    font-size: 6.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}




@media screen and (max-width: 900px) {
  .card .book_picture img {
    width: 228px;
  }
  .navbar .navbar-brand {
    font-size: 4.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}



@media screen and (max-width: 630px) {
  .card .book_picture img {
    width: 0px;
  }
  .navbar .navbar-brand {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}