body {
  background-color: mintcream;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

.left {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}


@media screen and (max-width: 1200px) {
  .header .show_title {
    max-width: 34em;
  }
  .card .book_picture img {
    width: 19em;
  }
  .container {
      max-width: 1030px;
  }
  .navbar .navbar-brand {
    font-size: 6.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}

@media screen and (max-width: 900px) {
  .header .show_title {
    max-width: 20em;
  }
  .card .book_picture img {
    width: 228px;
  }
  .navbar .navbar-brand {
    font-size: 4.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}

@media screen and (max-width: 630px) {
  .header .show_title {
    max-width: 10em;
    h2 {
      font-size: 1.6em;
    }
  }
  .header .book_photo img {
    height: 195px;
    width: 125px;
  }
  .show_card {
    padding: 16px;
  }
  .content {
    h3 {
      font-size: 1.1em;
    }
    .padding_left {
      padding-left: 0.5em;
    }
  }
  .card .book_picture img {
    width: 0px;
  }
  .book_title {
    padding-bottom: 16px;
  }
  .rating_show h3{
    font-size: 1.1em;
  }
  .rating_position {
    margin-top: 16px;
    p{
      margin-bottom: 0px;
    }
  }

  .navbar .navbar-brand {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;
  }
}